@charset "UTF-8";

/*
  em HTML id      = em CSS é #
  em HTML é class = em CSS é .
  */
  body{
    background-color: rgb(238, 213, 213);
    font-family: Arial, Helvetica, sans-serif;
  }
  h1{
    color: rgb(36, 117, 36);
  }
  h1#principal{
    text-align: center;
    background-color: rgb(58, 163, 58);
    color: white;
  }
  h2{
    color: rgb(62, 87, 62);
  }
  .basico{
    color: rgb(79, 128, 79);
    font-weight: bold;
  }
  .intermediario{
    color: rgb(202, 202, 102);
  }
  .avancado{
    color: rgb(150, 67, 67);
  }
  .destaque{
    background-color: rgb(146, 121, 88);
  }